PORT=4205
DB_HOST=localhost
DB_USER=siforsmy_aqil
DB_PASS=wMEHX5I2bBdLVUxn
DB_NAME=siforsmy_db_resep_kita
USERNAME_ADMIN=Admin
EMAIL_ADMIN=admin@resepkita
PASSWORD_ADMIN=Pasword
SECRET_SESSION=U1ULxXxHz4dNezRl